@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: sans-serif;
}

.table-auto {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary {
    background-color: #ebeff3;
    color: #070707;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.container {
    max-width: 7xl;
    margin: 0 auto;
}